* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

h1 {
    margin-bottom: 5px;
    /* text-align: center; */
}

h2 {
    margin-bottom: 10px;
}


footer{
    background-color: navy;
    color: white;
    padding: 20px 0;
    text-align: right;
}

header{
    background-color: navy;
    color: white;
    padding: 30px 0;
}

main{
    flex: 1 0 auto; /*flex-grow, flex-shrink, flex-basis */
    padding: 20px 0;
}

ul{
    align-items: left;
    list-style-type: none;
}

li {
    margin-right: 3%;
}

input {
    border-radius: 5px;
    font-style: italic;
    font-size: 1.1rem;
}

img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

p {
    width: 50%;
}

h3, p {
    margin-left: 10px;
    position: relative;
    top: 125px;
}

.bio-item {
    display: flex;
    justify-content: center;
}


.search-box {
    margin-right: 20px;
}

.y-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.y-wrap{
    width:90%;
    margin: 0 auto;
}

.navs{
    display: flex;
    font-weight: bold;
    /* justify-content: space-evenly; */
}
