* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: cornsilk;
    height: 100%;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-bottom: 10px;
}

footer{
    background-color: navy;
    color: white;
    padding: 20px 0;
    text-align: right;
}

header{
    background-color: navy;
    color: white;
    padding: 30px 0 5px;
}

main{
    flex: 1 0 auto; /*flex-grow, flex-shrink, flex-basis */
    padding: 20px 0;
}

ul{
    align-items: left;
    list-style-type: none;
}

li {
    margin-right: 3%;
}

input {
    border-radius: 5px;
    font-size: 1.1rem;
}

.bio-box img {
    border-radius: 25%;
    height: 250px;
    margin-bottom: 15px;
    width: 250px;
}

h3, p {
    position: relative;
    text-align: center;
}

.bio-box {
    display: flex;
    justify-content: space-evenly;
}

.bio-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    text-align: center;
}

.search-box {
    margin-right: 20px;
}

.review-space {
    color: darkblue;
}

.review-space img {
    /* height: 200px;
    width: 300px; */
}

.y-wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    width:90%;
}

.navs{
    display: flex;
    font-weight: bold;
    margin-left: 25px;
    /* justify-content: space-evenly; */
}

.loginModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.closeButton{
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeButton:hover, 
.closeButton:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}