<footer>
    <div class="y-wrap">
        <ul class="navs-footer">
            <% navs.forEach(nav => { %>
                <li><a href="<%= nav.toLowerCase() %>"><%= nav %></a></li>
            <% }) %>
        </ul>
    </div>
</footer>