<header class = "header">
    <h1>GameTyme</h1>
    <ul class="navs">
        <% navs.forEach(nav => { %>
            <li><a href="<%= nav.toLowerCase() %>"><%= nav %></a></li>
        <% }) %>
    </ul>
</header>