<header class = "header">
    <h1>GameTyme</h1>
    <ul class="navs">
        <% navs.forEach(nav => { %>
            <li><a href="/<%= nav.toLowerCase() %>"><%= nav %></a></li>
        <% }) %>
        <button id="modalButton" class="button">
            Launch Modal
        </button>
    </ul>
</header>