<header class = "header">
    <h1>GameTyme</h1>
    <ul class="navs">
        <% navs.forEach(nav => { %>
            <li><a href="/<%= nav.toLowerCase() %>"><%= nav %></a></li>
        <% }) %>
        <button id="modalButton" class="modal-button">
            Login
        </button>
        <button id="modalSignUpButton" class="modal-button">
            Sign Up
        </button>
    </ul>
</header>