<main class="y-wrap">
    <h1>Contributors</h1>
    <div class="bio-item">
        <img src="./assets/ron.jpg" alt="">
        <h2>Ron Cleveland, II</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero atque consequuntur similique!</p>
    </div>
    <div class="bio-item">
        <img src="./assets/Oscar.jpg" alt="">
        <h2>Oscar Trejo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero atque consequuntur similique!</p>
    </div>
</main>
