<main class="y-wrap">
    <h2>Contributors</h2>
    <div class="bio-box">
        <div class="bio-item">
            <img src="./assets/ron.jpg" alt="">
            <h3>Ron Cleveland, II</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero atque consequuntur similique!</p>
        </div>
        <div class="bio-item">
            <img src="./assets/Oscar.jpg" alt="">
            <h3>Oscar Trejo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero atque consequuntur similique!</p>
        </div>
    </div>
</main>
