<main class="y-wrap">
    <h2>Contributors</h2>
    <div class="bio-box">
        <div class="bio-item">
            <img src="./assets/ron.jpg" alt="">
            <div class="bio-text">
                <h3>Ron Cleveland, II</h3>
                <ul>
                    <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/rcleveland30">GitHub Profile</a></li>
                    <li><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/rclevelandii/">LinkedIn</a></li>
                    <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero atque consequuntur similique!</p></li>
                </ul>
            </div>
        </div>
        <div class="bio-item">
            <img src="./assets/Oscar.jpg" alt="">
            <div class="bio-text">
                <h3>Oscar Trejo</h3>
                <ul>
                    <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/Ozzythegrouch">GitHub Profile</a></li>
                    <li><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/trejooscar/">LinkedIn</a></li>
                    <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero atque consequuntur similique!</p></li>
                </ul>
            </div>
        </div>
    </div>
</main>