<main class = "y-wrap">
    <form>
        <!-- Name input -->
        <div class="form-name">
          <input type="text" id="name" class="form-name-input" placeholder="first name, last name" />
          <label class="form-label-name" for="name" >Name</label>
        </div>
      
        <!-- Email input -->
        <div class="form-email">
          <input type="email" id="email" class="form-email-input"  placeholder="email" />
          <label class="form-label-email" for="email">Email address</label>
        </div>
      
        <!-- Message input -->
        <div class="form-message">
          <textarea class="message" id="message" rows="4" placeholder="message"></textarea>
          <label class="form-label-message" for="message">Message</label>
        </div>
      
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-checkbox" type="checkbox" value="" id="form-checkbox" checked />
          <label class="form-checkbox-label" for="form-checkbox">
            Send me a copy of this message
          </label>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="submit-message">Send</button>
      </form>
</main>
