<div class="review-space">
    <h1><%=name%></h1>
    <h3><%=released%></h3>
    <p><%-description%></p>
    <img src="<%=background_image%>" alt="">
</div>
<textarea name="" id="review-text" cols="30" rows="10"></textarea>
<button id="submit-reivew">Submit</button>