<main class= "y-wrap">
    <div class="page-contain">
        <input id="search-box" type="Search">
        <button id="search-btn">Search</button>
    </div>
    <ul id="games-list"></ul>
    <div id="loginModal" class="loginModal">
        <div class="modal-content">
            <span class="closeButton">&times;</span>   
        </div>
    </div>
</main>
