<main class= "y-wrap">
    <div class="page-contain">
        <div class="game-name"></div>
        <div class="game-logo"></div>
        <input type="text" class="review-area">
        <button class="submit-btn">Submit</button>
    </div>
</main>
